/**
 * Linear Gradient
 *
 * @param  $origin    [default: top]     Origin of gradient
 * @param  $start     [default: #F5F5F5] Start colour
 * @param  $stop      [default: #FFF]    End colour
 */
@mixin linear-gradient ($list: (top, #F5F5F5, #FFF)) {
	// which prefix to append to the property
	$webkit : true;
	$moz    : true;
	$ms     : true;
	$o      : true;
	$spec   : true;

	// set property prefix
	@include prop-prefix(background-image, linear-gradient, $list, $webkit, $moz, $ms, $o, $spec);
}